.avatar {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-sizing: border-box;
}

.avatar.xsmall {
    width: 16px;
    height: 16px;
}

.avatar.small {
    width: 24px;
    height: 24px;
}

.avatar.medium {
    width: 32px;
    height: 32px;
}

.avatar.large {
    width: 36px;
    height: 36px;
}

.avatar.xlarge {
    width: 44px;
    height: 44px;
}

.avatar.xxlarge {
    width: 56px;
    height: 56px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar.ai {
    background: transparent;
    border-radius: 0;
}

.avatar.user {
    border: var(--border-width-100) solid var(--border-tertiary);
}

.avatar-ai-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}