.avatar {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.avatar.xsmall {
    width: 16px;
    height: 16px;
}

.avatar.small {
    width: 24px;
    height: 24px;
}

.avatar.medium {
    width: 32px;
    height: 32px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar.ai {
    background: transparent;
}

.avatar.user {
    border: var(--border-width-100) solid var(--border-tertiary);
}

.avatar-ai-logo {
    width: 80%;
    height: 80%;
}